<nav th:fragment="navbar" th:switch="${navbarFlag}" class="navbar mb-4 ps-4"
     style="background: var(--darkgray-color); color: white"
     xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org"> <!--style="background: var(&#45;&#45;darkgray-color)"-->
    <div class="container-fluid" th:case="'navbar-general'">
        <a class="nav-link active" aria-current="page" href="/">
            <i class="bi bi-house-door" style="font-size: 26px"></i>
        </a>
        <form th:action="@{/logout}" method="post">
            <div><input type="submit" value="Cerrar Sesión" class="fw-bold text-light me-4 rounded" style="padding: 5px 10px; border: 0; background-color: var(--orange-color) "/></div>
        </form>
    </div>
    <div class="container-fluid" th:case="'navbar-contratos'">
        <div class="d-flex" style="gap: 2rem; align-items: center">
            <a class="nav-link active" aria-current="page" th:href="'/' + ${navbar_rol} + '/contratos'">
                <i class="bi bi-x-lg" style="font-size: 26px"></i>
            </a>
            <div th:if="${contrato}"> <!--Hago dos veces el th:if pq necesito ${contrato} para contrato-nuevo y ${contrato.workflow}" para contrato-detalle-->
                <div class="nav-item" th:if="${contrato.workflow}" th:text="${contrato.workflow.workflow} + ' (' + ${contrato.id} + ') - Estado Actual: ' + ${contrato.estadoActual.nombre}" style="font-size: 22px"></div>
            </div>
        </div>
        <form th:action="@{/logout}" method="post" class="d-flex" style="align-items: center; gap: 2rem">
            <img src="/images/no-user-photo.jpg" alt="No User Photo" width="36px" height="36px">
            <div class="nav-item" style="font-size: 22px" th:if="${actualUser}" th:text="${actualUser.nombre} + ' ' + ${actualUser.apellido}"></div>
            <div><input type="submit" value="Cerrar Sesión" class="fw-bold text-light me-4 rounded" style="padding: 5px 10px; border: 0; background-color: var(--orange-color) "/></div>
        </form>
    </div>
</nav>
