<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="baseLayout">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Make It Legal</title>
</head>
<body>
    <div>NO DEBERIAS ESTAR AQUI</div>
    <form th:action="@{/logout}" method="post">
        <div><input type="submit" value="Log Out" class="fw-bold text-light" style="width: 80%;  padding: 10px; border: 0; background: rgb(252,207,107); background: linear-gradient(45deg, rgba(252,207,107,1) 0%, rgba(244,143,43,1) 50%, rgba(255,108,200,1) 100%)" /></div>
    </form>
</body>
</html>