<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="baseLayout">
    </head>
    <body class="container">
        <h3>/legales/configuracion/entidadeslegales</h3>
        <table class="table table-md mt-5 mb-5" style="background-color: white">
            <thead style="overflow: auto; background-color: var(--black-color); color: white">
                <tr class="">
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="">
                <tr th:each="x : ${list_entidadeslegales}">
                        <td><span th:text="${x.id}" /></td>
                        <td><span th:text="${x.nombre}"/></td>
                        <td><span th:text="${x.isActivo} ? Si : No"/></td>
                        <td>
                            <a class="btn" th:href="@{/legales/configuracion/entidadeslegales/{id}(id=${x.id})}" style="padding: 0.05rem 1rem; background-color: var(--orange-color)">
                                <i class="bi bi-pencil" style="font-size: 1rem; color: white" ></i>
                            </a>
                        </td>
                </tr>
            </tbody>
        </table>
        <div th:switch="${http_method}">
            <div th:case="post">
                <form action="#" th:action="@{/legales/configuracion/entidadeslegales}" th:object="${entidadLegal}" th:method="POST">
                    <div>
                        <input class="rounded mb-3" type="text" name="nombre" placeholder="Nombre" style="width: 100%; padding: 10px; background: white; border: 2px solid var(--gray-color)"/>
                        <p class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" />
                        <p class="text-danger" th:if="${param.entidadLegalExists}">Esta Entidad Legal ya existe</p>
                    </div>
                    <div class="form-check form-switch">
                        <label th:for="${#ids.next('isActivo')}">Activo</label>
                        <input  id="isActivo" class="form-check-input" type="checkbox" role="switch" name="isActivo" checked/>
                    </div>
                    <div >
                        <input type="submit" value="Enviar" class="fw-bold text-light mt-2" style="width: 10%;  padding: 10px; border: 0; background: var(--orange-color); float: right" />
                    </div>
                </form>
            </div>
            <div th:case="put">
                <form action="#" th:action="@{/legales/configuracion/entidadeslegales}" th:object="${entidadLegal}" th:method="PUT">
                    <input type="hidden" name="id" th:field="*{id}" class="mb-3" />
                    <div>
                        <input type="text" name="nombre" th:field="*{nombre}" placeholder="Nombre" class="mb-3" style="width: 80%; padding: 10px; background: #e9ecef; border: 0"/>
                    </div>
                    <div class="form-check form-switch">
                        <label th:for="${#ids.next('isActivo2')}">Activo</label>
                        <input id="isActivo2" class="form-check-input" type="checkbox" role="switch" name="isActivo" th:field="*{isActivo}" checked/>
                    </div>
                    <div>
                        <input type="submit" value="Enviar" class="fw-bold text-light" style="width: 80%;  padding: 10px; border: 0; background: rgb(252,207,107); background: linear-gradient(45deg, rgba(252,207,107,1) 0%, rgba(244,143,43,1) 50%, rgba(255,108,200,1) 100%)" />
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>